button:hover{
    color: blue;
    background-color: red;
    padding: 5px;
}

button {
    margin: 40px;
    width: 80px;
    height: 40px;
    font: size 40px;
    border-radius: 5px;
}
 
h1 {
    font: size 40px;;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}